python-dotenv>=0.14.0, <0.15
confluent_kafka>=2.1.1, <2.2
fastapi>=0.110.0, <0.111
email-validator>=2.1.0, <2.2
uvicorn>=0.27.1, <0.28
redis[hiredis]>=5.0.0, <5.1
pymongo>=4.6.2, <4.7
scrapy>=2.11.0, <2.12.0
scrapyd>=1.4.3, <1.5
logparser>=0.8.2, <0.9
scrapydweb>=1.5.0, <1.6
scrapyd-client>=1.2.3, <1.3
python-scrapyd-api>=2.1.2, <2.2
chromadb>=0.4.24, <0.5
twisted>=23.10.0, <23.11
apache-airflow>=2.8.4, <2.9
itemadapter~=0.8.0
langchain
streamlit
torch